<h2><b>Coleta Mensal</b></h2>
<h3>Ativos</h3>

<table class="table">
  <thead>
    ...
  </thead>
  <tbody>

    <tr>
      <th scope="row" class="table-active">3</th>
      <td  class="table-active">Larry the Bird</td>
      <td class="table-active">Pendente</td>
      <td class="table-active">Maio 2024</td>
      <td class="table-active">Data Limite: 01/06/2024</td>
      <td class="table-active">Ver coleta></td>

    </tr>
  </tbody>
</table>
