<h2><b>Coleta Mensal</b></h2>
<h4>  Ativos</h4>

<table class="table">
 
  <tbody>

    <tr>
      <td class="table-active"><b>Coleta mensal</b></td>
      <td class="table-active">Pendente</td>
      <td class="table-active">Maio 2024</td>
      <td class="table-active">Data Limite: 01/06/2024</td>
      <td class="table-active">Ver coleta></td>

    </tr>
  </tbody>
</table>
<br/><br/>
<h4>  Feitas</h4>
