
<div id="login-form">
<center>
<h2><b>ACESSO SOLICITADO</b></h2>
<p>Aguarde a liberação pelo Administrador</p>
  <div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="button">Ir para o Login</button>
  </center>
</div>
  
</div>
