
<div id="login-form">
<center>
<h2><b>ACESSO SOLICITADO</b></h2>
<h4>Aguarde a liberação pelo Administrador</h4>
  <div class="d-grid gap-2 col-6 mx-auto">
<input type="submit" name="login" value="" tabindex="5" id="login-submit" />
  
  </center>
</div>
  
</div>
