 <div class="container mt-5">
        <div class="box-custom">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="field-label" for="cnpj">CNPJ:</label>
                    <input type="text" class="form-control" id="cnpj" placeholder="Digite o CNPJ">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="field-label" for="uf">UF:</label>
                    <input type="text" class="form-control" id="uf" placeholder="Digite a UF">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="field-label" for="servicos">Serviços de telecom:</label>
                    <input type="text" class="form-control" id="servicos" placeholder="Digite os serviços de telecom">
                </div>
            </div>
        </div>
    </div>