
<div class="container-sm">
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com">
            <label for="floatingInputGrid">Email address</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <label for="floatingSelectGrid">Works with selects</label>
          </div>
        </div>
      </div>
</div>



<div class="container mt-5">
        <div class="box-custom d-flex flex-wrap align-items-center">
            <div class="mr-3">
                <label for="cnpj" class="mr-2">CNPJ:</label>
                <input type="text" class="form-control d-inline-block w-auto" id="cnpj" placeholder="Digite o CNPJ">
            </div>
            <div class="mr-3">
                <label for="uf" class="mr-2">UF:</label>
                <input type="text" class="form-control d-inline-block w-auto" id="uf" placeholder="Digite a UF">
            </div>
            <div>
                <label for="servicos" class="mr-2">Serviços de telecom:</label>
                <input type="text" class="form-control d-inline-block w-auto" id="servicos" placeholder="Digite os serviços de telecom">
            </div>
        </div>
    </div>
