



<div class="container mt-5">
        <h2><strong>TIM</strong></h2><br/>
        <h4><strong>Dados da Empresa</strong></h4>
        <div class="card">
            <div class="card-body d-flex">
                <div class="me-3">
                    <strong>Cnpj:</strong> 11.111.111/0001-11
                </div>
                <div class="me-3">
                    <strong>Uf:</strong> DF
                </div>
                <div class="me-3">
                    <strong>Serviços de Telecom:</strong> SCM - Serviço de Comunicação Multimídia, SEAC - TV por Assinatura, STFC - Serviço Telefônico Fixo Comutado 
                </div>
               
            </div>
        </div>
    </div>
