  <div class="container mt-5">

<h3><strong>Dados de Acesso - STFC</strong></h3>

       
       
            <div class="card-body">
                <form>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="uf" class="form-label">UF</label>
                            <select id="uf" class="form-select">
                                <option selected>Escolher...</option>
                                <option value="SP">AC</option>
                                <option value="RJ">AL</option>
                                <option value="RJ">AP</option>
                                <option value="RJ">AM</option>
                                <option value="RJ">BA</option>
                                <option value="RJ">CE</option>
                                <option value="RJ">DF</option>
                                <option value="RJ">ES</option>
                                <option value="RJ">GO</option>
                                <option value="RJ">MA</option>
                                <option value="RJ">MT</option>
                                <option value="RJ">MS</option>
                                <option value="RJ">MG</option>
                                <option value="RJ">PA</option>
                                <option value="RJ">PB </option>
                                <option value="RJ">PR</option>
                                <option value="RJ">PE</option>
                                <option value="RJ">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RJ">RN</option>
                                <option value="RJ">RS</option>
                                <option value="RJ">RO</option>
                                <option value="RJ">RR</option>
                                <option value="RJ">SC</option>
                                <option value="RJ">SP</option>
                                <option value="RJ">SE</option>
                                <option value="RJ">TO</option>
                                <!-- Adicione mais opções conforme necessário -->
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="cidade" class="form-label">Cidade</label>
                            <input type="text" class="form-control" id="cidade" placeholder="Digite a cidade">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="tipoCliente" class="form-label">Tipo de Cliente</label>
                            <input type="text" class="form-control" id="tipoCliente" placeholder="Digite o tipo de cliente">
                        </div>
                        <div class="col-md-6">
                            <label for="tipoMeio" class="form-label">Tipo de Meio</label>
                            <input type="text" class="form-control" id="tipoMeio" placeholder="Digite o tipo de meio">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="codigoIbge" class="form-label">Código IBGE</label>
                            <input type="text" class="form-control" id="codigoIbge" placeholder="Digite o código IBGE">
                        </div>
                        <div class="col-md-6">
                            <label for="quantidade" class="form-label">Quantidade</label>
                            <input type="number" class="form-control" id="quantidade" placeholder="Digite a quantidade">
                        </div>
                    </div>

                  
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
