 <div class="container mt-5">


   <h3><strong>Dados Econômicos-financeiros e Técnico-operacionais</strong></h3><br/><br/>
       
            <div class="card-body">
                <form>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="valor" class="form-label">Razão Social</label>
                            <input type="text" class="form-control" id="tipoCliente" placeholder="razao_social">
                        </div>
                        <div class="col-md-6">
                            <label for="tipoServico" class="form-label">CNPJ</label>
                            <input type="text" class="form-control" id="tipoAtendimento" placeholder="cnpj">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="valor" class="form-label">Ano</label>
                            <input type="text" class="form-control" id="tipoCliente" placeholder="ano">
                        </div>
                        <div class="col-md-6">
                            <label for="tipoServico" class="form-label">Trimestre</label>
                             <select id="uf" class="form-select">
                                <option selected>Escolher...</option>
                                <option value="SP">Primeiro</option>
                                <option value="RJ">Segundo</option>
                                <option value="RJ">Terceiro</option>
                                <option value="RJ">Quarto</option>
                                <!-- Adicione mais opções conforme necessário -->
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="uf" class="form-label">UF</label>
                            <select id="uf" class="form-select">
                                <option selected>Escolher...</option>
                                <option value="SP">São Paulo</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <!-- Adicione mais opções conforme necessário -->
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="operacao" class="form-label">Operação</label>
                            <input type="text" class="form-control" id="cidade" placeholder="Digite a cidade">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="valor" class="form-label">Valor</label>
                            <input type="text" class="form-control" id="tipoCliente" placeholder="Valor">
                        </div>
                        <div class="col-md-6">
                            <label for="tipoServico" class="form-label">Tipo de Serviço</label>
                            <input type="text" class="form-control" id="tipoAtendimento" placeholder="Tipo de Serviço">
                        </div>
                    </div>

                   

                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                     <br/><br/> <p><strong>Todos os campos são obrigatórios</strong></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
