 <div class="container mt-5">
        <div class="row g-2">
  <div class="col-md">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInputGrid" placeholder="UF" value="uf">
      <label for="floatingInputGrid">uf</label>
    </div>
  </div>
    <div class="col-md">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInputGrid" placeholder="Cidade" value="cidade">
      <label for="floatingInputGrid">Cidade</label>
    </div>
  </div>
  <div class="col-md">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInputGrid" placeholder="Tipo de Cliente" value="tipodecliente">
      <label for="floatingInputGrid">Tipo de cliente</label>
    </div>
  </div>

  <div class="col-md">
    <div class="form-floating">
      <select class="form-select" id="floatingSelectGrid" aria-label="Tipo de Atendimento">
        <option selected>SCM</option>
        <option value="1">SEAC</option>
        <option value="2">STFC</option>
        
      </select>
      <label for="floatingSelectGrid">Selecione o tipo</label>
    </div>
  </div>
    <div class="col-md">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInputGrid" placeholder="Tipo de Meio" value="tipodemeio">
      <label for="floatingInputGrid">Tipo de Meio</label>
    </div>
  </div>
 
   
    <div class="col-md">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInputGrid" placeholder="Código Ibge" value="codigoibge">
      <label for="floatingInputGrid">Código IBGE</label>
    </div>
  </div>
   <div class="col-md">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInputGrid" placeholder="Quantidade" value="quantidade">
      <label for="floatingInputGrid">Quantidade</label>
    </div>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">Salvar</button>
  
  
  
  
  
  
  
 </div>
</div>
