<h2><b>Início</b></h2>

<h3>Clientes</h3>

 <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">TIM</div>
                    <div class="box-description"><span class="badge bg-danger">Coleta atrasada</span></div>
                    <p><b>Responsável: João Carlos</b></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">ORGANIZAÇÃO TESTE</div>
                    <div class="box-description"><span class="badge bg-success">Coleta recebida</span></div>
                    <p><b>Responsável: Luana Silva</b></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">GLOBALCOM</div>
                    <div class="box-description"><span class="badge bg-success">Coleta recebida</span></div>
                    <p><b>Responsável: Luana Silva</b></p>
                </div>
            </div>
        </div>
    </div>
