  <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">MENSAL</div>
                    <div class="box-description">Coleta de dados de acessos:<br/>SCM, SEAC, STFC</div>
                    <a href="#" class="box-link">Fazer coletas</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">SEMESTRAL</div>
                    <div class="box-description">Coleta de dados Econômicos-financeiros e Técnico-operacionais</div>
                    <a href="#" class="box-link">Fazer coletas</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">ANUAL</div>
                    <div class="box-description">Coleta de dados de Infraestrutura de Transporte<br/></div>
                    <a href="#" class="box-link">Fazer coletas</a>
                </div>
            </div>
        </div>
    </div>
