  <div class="container">
    <h2><b>Início</b></h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">MENSAL</div>
                    <div class="box-description">Coleta de dados de acessos:<br/>SCM, SEAC, STFC</div>
                    <a href="#" class="box-link">Fazer coletas</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">SEMESTRAL</div>
                    <div class="box-description">Coleta de dados Econômicos-financeiros e Técnico-operacionais</div>
                    <a href="#" class="box-link">Fazer coletas</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">ANUAL</div>
                    <div class="box-description">Coleta de dados de Infraestrutura de Transporte<br/><br/></div>
                    <a href="#" class="box-link">Fazer coletas</a>
                </div>
            </div>
        </div>
    </div>

<div class="container mt-5">
     <div class="box-title">COLETAS <BR/></div>
        <table class="table table-custom">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Coleta</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data</th>
                    <th scope="col">Formulário</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Atrasada</td>
                    <td>Julho 2024</td>
                    <td>Mensal</td>
                    <td>SCM</td>
                    <td><a href="http://201.76.43.189:88/cliente/mensal" class="btn btn-sm btn-dark">Fazer coleta</a> </td>

                </tr>
               </td>
                        
                </tr>
                <tr>
                    <td>2</td>
                    <td>Feita</td>
                    <td>Junho 2024</td>
                    <td>Semestral</td>
                    <td></td>
                    <td><a href="#" class="btn btn-sm btn-dark">Ver coleta</a></td>
                </tr>
                </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>A Fazer</td>
                    <td>Agosto 2024</td>
                    <td>Anual</td>
                    <td>Estação</td>
                    <td><a href="#" class="btn btn-sm btn-dark">Fazer coleta</a></td>
                </tr>
                </td>
                </tr>
            </tbody>
        </table>
    </div>

