<div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <h3>Caixa 1</h3>
                    <p>Conteúdo da Caixa 1</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <h3>Caixa 2</h3>
                    <p>Conteúdo da Caixa 2</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <h3>Caixa 3</h3>
                    <p>Conteúdo da Caixa 3</p>
                </div>
            </div>
        </div>
    </div>

<div class="row">
  <div class="col-4">
   <div class="col-md-4">
       <%= render :partial => 'menu' %>
       <%= render :partial => 'no_data' if @no_configuration_data %>
   </div>
    
    </div>
</div>
    























  


<div id="admin-index">
 <div class="row">
 




  </div>
</div>
  
  



