


<div class="container mt-4">
    <div class="row">
      <!-- First Row (3 boxes) -->
      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina1.com">
              <i class="fa fa-university" aria-hidden="true"></i>
            </a>
            <h5 class="card-title mt-3">Cadastro Empresas</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina2.com">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
            <h5 class="card-title mt-3">Cadastrar Usuários</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina3.com">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
            <h5 class="card-title mt-3">Cadastrar Analistas</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina4.com">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </a>
            <h5 class="card-title mt-3">Configurações</h5>
          </div>
        </div>
      </div>

    <div class="row">
      <!-- Second Row (3 boxes) -->
      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina4.com">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </a>
            <h5 class="card-title mt-3">Configurações</h5>
          </div>
        </div>
      </div>

     
    </div>
  </div>


<div class="container">
    


<div id="admin-index">
  <%= render :partial => 'no_data' if @no_configuration_data %>
  <%= render :partial => 'menu' %>
</div>
</div>
<% html_title(l(:label_administration)) -%>
