<div class="container-xxl">
    <div class="row">
      <div class="col-6 col-md-4">

       <%= render :partial => 'menu' %>
       <%= render :partial => 'no_data' if @no_configuration_data %>
          
      </div>
   
      <div class="col-md-8">
          <div class="box">
              <h3><b>Mensal</b></h3>
              <p>Coletas de dados de ACesso,</br>SCM, SEAC,STFC</p>
          </div>
        </div>

       
          <div class="box">
              <h3><b>Mensal</b></h3>
              <p>Coletas de dados de ACesso,</br>SCM, SEAC,STFC</p>
          </div>
      

       
          <div class="box">
              <h3><b>Mensal</b></h3>
              <p>Coletas de dados de ACesso,</br>SCM, SEAC,STFC</p>
          </div>
     </div>
        
    
</div>














<div class="container-xxl">
  
    
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <h3><b>Mensal</b></h3>
                    <p>Coletas de dados de ACesso,</br>SCM, SEAC,STFC</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box">
                    <h3>Semestral</h3>
                    <p>Conteúdo da Caixa 2</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box">
                    <h3>Anual</h3>
                    <p>Conteúdo da Caixa 3</p>
                </div>
            </div>

        </div>
    <div class="row">
      <div class="col-md-4">
       <%= render :partial => 'menu' %>
       <%= render :partial => 'no_data' if @no_configuration_data %>
      </div>
    </div>

<div class="row">
  <div class="col-4">
  
    
    </div>
</div>
    























  


<div id="admin-index">
 <div class="row">
 




  </div>
</div>
</div>
  
  



