


<div class="container mt-4">
   <h3 class="card-title mt-3">Painel de Administração</h3>
   <br/><br/>
    <div class="row">
      <!-- First Row (3 boxes) -->
      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="http://201.76.43.189:88/admin/projects">
              <i class="fa fa-university" aria-hidden="true"></i>
            </a>
            <a href="http://201.76.43.189:88/admin/projects"><h5 class="card-title mt-3">Cadastro Empresas</h5></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="http://201.76.43.189:88/users">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
            <a href="http://201.76.43.189:88/users"><h5 class="card-title mt-3">Cadastrar Usuários</h5></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="http://201.76.43.189:88/cliente/register">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
            <a href="http://201.76.43.189:88/cliente/register"><h5 class="card-title mt-3">Cadastrar Analistas</h5></a>
          </div>
        </div>
      </div>
    </div>

    
    <div class="row">
      <!-- Second Row (3 boxes) -->
      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="http://201.76.43.189:88/settings">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </a>
            <a href="http://201.76.43.189:88/settings"><h5 class="card-title mt-3">Configurações</h5></a>
          </div>
        </div>
      </div>

       <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href=#>
             <i class="fa fa-calendar" aria-hidden="true"></i>
            </a>
            <a href="http://201.76.43.189:88/settings/plugin/funny_plugin"><h5 class="card-title mt-3">Definir data Coleta</h5></a>
          </div>
        </div>
      </div>

     
    </div>
  </div>



