<div class="container-fluid">
 <div class="row">
    
    <div class="col-md-4">
          <div class="card card-custom">
                <div class="card-body">
                  <h5 class="card-title">MENSAL</h5>
                  <p class="card-text">SCM, SEAC, STFC<br/><br/></p>
                  <p><a class="link-opacity-100-hover" href="#">Ver coletas</a></p>
                </div>
            </div>
     </div>
        
   
    <div class="col-md-4">
          <div class="card card-custom">
            <div class="card-body">
              <h5 class="card-title">SEMESTRAL</h5>
              <p class="card-text">Coleta de dados Econômicos-<br/>financeiros e Técnicos-operacionais</p>
              <p><a class="link-opacity-100-hover" href="#">Ver coletas</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-custom">
            <div class="card-body">
              <h5 class="card-title">ANUAL</h5>
              <p class="card-text">Coleta de dadps de Infraestrutura de<br/>Transporte</p>
              <p><a class="link-opacity-100-hover" href="#">Ver coletas</a></p>
            </div>
          </div>
        </div>
  </div>
<p></p>
 <div class="row">
    <div class="col-4">
       <br/><h5 class="card-title">Menu</h5>
       <%= render :partial => 'menu' %>
       <%= render :partial => 'no_data' if @no_configuration_data %>
    </div>
    <div class="col-8"><br/><h5 class="card-title">Coletas</h5></div>
 </div>



</div>






