<h2>Início</h2>



<div class="container mt-4">
    <div class="row">
      <!-- First Row (3 boxes) -->
      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina1.com">
              <i class="fas fa-home fa-3x"></i>
            </a>
            <h5 class="card-title mt-3">Página 1</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina2.com">
              <i class="fas fa-user fa-3x"></i>
            </a>
            <h5 class="card-title mt-3">Página 2</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina3.com">
              <i class="fas fa-cogs fa-3x"></i>
            </a>
            <h5 class="card-title mt-3">Página 3</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Second Row (3 boxes) -->
      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina4.com">
              <i class="fas fa-chart-bar fa-3x"></i>
            </a>
            <h5 class="card-title mt-3">Página 4</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina5.com">
              <i class="fas fa-envelope fa-3x"></i>
            </a>
            <h5 class="card-title mt-3">Página 5</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <a href="https://pagina6.com">
              <i class="fas fa-globe fa-3x"></i>
            </a>
            <h5 class="card-title mt-3">Página 6</h5>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container">
    


<div id="admin-index">
  <%= render :partial => 'no_data' if @no_configuration_data %>
  <%= render :partial => 'menu' %>
</div>
</div>
<% html_title(l(:label_administration)) -%>
