<div class="container-fluid">
 <div class="row">
    
    <div class="col-md-4">
          <div class="card card-custom">
                <div class="card-body">
                  <h5 class="card-title">MENSAL</h5>
                  <p class="card-text">SCM, SEAC, STFC</p>
                </div>
            </div>
     </div>
        
   
    <div class="col-md-4">
          <div class="card card-custom">
            <div class="card-body">
              <h5 class="card-title">SEMESTRAL</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-custom">
            <div class="card-body">
              <h5 class="card-title">ANUAL</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
  </div>

 <div class="row">
    <div class="col-4">
       <h5 class="card-title">menu</h5>
       <%= render :partial => 'menu' %>
       <%= render :partial => 'no_data' if @no_configuration_data %>
    </div>
    <div class="col-8">coletas</div>
 </div>



</div>






