<div class="container mt-5">
<h3><strong>Fazer coleta</strong></h3>

<% if @coleta.tipoColeta == 'estacao' %>
  <%= render "coleta/coleta_anual_estacao" %>
<% end %>

<% if @coleta.tipoColeta == 'enlacesProprios' %>
  <%= render "coleta/coleta_anual_enlaces_proprios" %>
<% end %>

<% if @coleta.tipoColeta == 'encalcesContratados' %>
  <%= render "coleta/coleta_anual_encalces_contratados" %>
<% end %>

<% if @coleta.tipoColeta == 'encalcesViaSatelite' %>
  <%= render "coleta/coleta_anual_encalces_via_satelite" %>
<% end %>

</div>
